<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="dtdc" class="com.rd.beans.Dtdc"/>
<bean id="bd" class="com.rd.beans.Bluedart"/>
<bean id="ff" class="com.rd.beans.FirstFlight"/>
<bean id="fpk" class="com.rd.beans.Flipkart">
<property name="deliver" ref="dtdc"></property>
</bean>


</beans>
